<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Bill Gates</h1>
<img alt="" src="https://image.cnbcfm.com/api/v1/image/106967046-1635430835800-gettyimages-946971500-99821012.jpeg?v=1653062440&w=740&h=416&ffmt=webp&vtcrop=y" width="350px;">
<p>
  <a href="https://en.wikipedia.org/wiki/Bill_Gates">William Henry Gates III</a> (born October 28, 1955) is an American business magnate, author, investor, and philanthropist. 
  He is a co-founder of Microsoft, along with his late childhood friend Paul Allen.[2][3] During his career at Microsoft, 
  Gates held the positions of chairman, chief executive officer (CEO), president and chief software architect, while also 
  being the largest individual shareholder until May 2014.[4] He was a major entrepreneur of the microcomputer revolution of 
  the 1970s and 1980s.
</p>
<hr>
<p>Here is his quotes:</p>
<br>
<ul>
  <li>
    {{quote1}}
  </li>
  <li>
    {{quote2}}
  </li>
  <li>
    {{quote3}}
  </li>
  <li>
    {{quote4}}
  </li>
  <li>
    {{quote5}}
  </li>
</ul>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
